@import url("./reset.css");

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

}

body {
    background-color: #292929;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(300px, 960px) minmax(20px, 1fr);
}

.form {
    grid-column: 2/3;
    max-width: 960px;
    width: 100%;
    height: auto;
    background-color: rgb(36, 34, 34);
    border-radius: 50px;
    margin: 100px auto;
    padding: 50px 0px;
}

.form-registration {
    display: none;
}

.navigation {
    width: 100%;
    padding: 0px 105px;
    text-align: right;
    margin-bottom: 50px;
}

.navigation__btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #a4dbd2;
    background-color: rgb(36, 34, 34);
    padding: 5px 10px;
    border: 1px solid #a4dbd2;
    border-radius: 15px;
    font-size: 20px;
    line-height: 20px;
}

h2 {
    width: 100%;
    color: #ffff;
    font-size: 55px;
    line-height: 55px;
    font-weight: 700;
    text-align: center;
    padding: 0px 0px 80px 0px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 750px;
    width: 100%;
    align-items: stretch;
    margin: 0 auto;
    color: #ffff;

}

.form__item {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.form__item-wrapper {
    display: flex;
    column-gap: 20px;
}

.form__item_cursor {
    cursor: pointer;
}

.form__item-photo {
    position: relative;
}

.form__name {
    flex: 0 0 30%;
}

.form__input {
    width: 100%;
    padding: 0px 0px 0px 8px;
    height: 40px;
}

.form__input-photo {
    opacity: 0;
    width: 45px;
    height: 50px;
    font-size: 0;
}

.form__input-img {
    position: absolute;
    left: 32%;
    top: 0;
    cursor: pointer;
}

.form__input-selectFile {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 50px;
    max-width: 100px;
    display: flex;
}

.form__input-selectFile img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.form__input-btnDel {
    display: none;
    max-width: 20px;
    cursor: pointer;
}

.form__text {
    width: 100%;
    display: flex;
    column-gap: 20px;
    margin-top: -15px;
}

.form__text-empty {
    flex: 0 0 30%;
}

.form__text-message {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #a4dbd2;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
}

.form__check {
    column-gap: 5px;
    margin-top: 27px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.form__doc {
    font-size: 20px;
    line-height: 20px;
}

.form__check a {
    text-decoration: none;
    color: cadetblue;
    font-style: italic;
}

.form__check input {
    display: none;
}

.form__check:before {
    content: '';
    -webkit-appearance: none;
    background-color: #E2E2E2;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    height: 25px;
    min-width: 25px;
}

.form__check-input:checked+.form__check-vector:after {
    content: url("../images/Vector.png");
    position: absolute;
    top: 0px;
    left: 2px;
}

.form__submit {
    width: 100%;
    text-align: center;
    margin: 50px 0px 30px 0px;
}

.form__submit-btn {
    padding: 20px 20px;
    background-color: rgb(36, 34, 34);
    color: #ffff;
    border: 5px solid white;
    border-radius: 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

p {
    margin-top: -15px;
}

.modal {
    max-width: 1000px;
    width: 100%;
    height: 300px;
    background-color: rgb(36, 34, 34);
    color: #ffff;
    padding: 0;
    border: 0;
    border-radius: 100px;
    justify-content: center;
}

.modal::backdrop {
    background-color: #292929;
    cursor: pointer;
}

.modal__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__text {
    line-height: 30px;
    text-align: center;
}

.modal__btn {
    width: 300px;
    padding: 20px 0px;
    margin-top: 60px;
    border: 1px solid #e0d0d0;
    border-radius: 30px;
    background-color: #292929;
    color: #ffff;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .form__wrapper {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        padding: 0px 10px 80px 10px;
    }

    .form__input-img {
        left: 33%;
    }
}

@media screen and (max-width: 500px) {
    .form__name {
        font-size: calc((100vw - 380px) / 120 * 4 + 20px);
    }

    .form__text-message {
        font-size: calc((100vw - 380px) / 120 * 2 + 14px);
    }

    .form__item-wrapper {
        flex-direction: column;
        row-gap: 10px;
    }

    .form__item_cursor {
        font-size: calc((100vw - 380px) / 120 * 2 + 22px);
    }
}

@media screen and (max-width: 470px) {
    .navigation {
        text-align: center;
        padding: 0px 10px;
    }

    h2 {
        font-size: calc((100vw - 380px) / 90 * 10 + 45px);
    }

    .form__input-img {
        left: 34%;
    }

}

@media screen and (max-width: 425px) {
    .form__submit {
        padding: 0px 15px;
    }

    .form__submit-btn {
        font-size: calc((100vw - 380px) / 45 * 5 + 25px);
    }
}