@import url(./reset.css);

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 24px;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 100px auto;
}

.header-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1600px minmax(0, 1fr);
    width: 100%;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 50;
}

.header {
    grid-column: 2/3;
    width: 100%;
    min-height: 60px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 0.1fr 0.2fr repeat(2, 0.25fr) 0.2fr;
    grid-template-rows: minmax(60px, 1fr);
    background-color: #353838;
    color: #fff;
}

.header__name-data {
    grid-column: 1;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__name-type {
    grid-column: 2;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__name-prog1c {
    grid-column: 3;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px 0px 50px;
}

.header__name-ofd {
    grid-column: 4;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px 0px 50px;
}

.header__name-difference {
    grid-column: 5;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 50px 0px 50px;
}

/* Подложка под header, который вырван из потока. Чтобы container не вставал на место header */
.header__fake {
    width: 100%;
    min-height: 60px;
}

.container {
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 0.1fr 0.2fr repeat(2, 0.25fr) 0.2fr;
    grid-template-rows: minmax(240px, 1fr);
}

.date {
    grid-column: 1;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type {
    grid-column: 2;
    border-right: 1px solid black;
    display: grid;
    grid-template-rows: repeat(4, minmax(60px, 1fr));
    grid-template-columns: 1fr; 
}

.prog1c {
    grid-column: 3;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, minmax(60px, 1fr));
    grid-template-columns: 1fr; 
    border-right: 1px solid black;
    justify-items: stretch;
}

.ofd {
    grid-column: 4;
    width: 100%;
    display: grid; 
    grid-template-rows: repeat(4, minmax(60px, 1fr));
    grid-template-columns: 1fr; 
    border-right: 1px solid black;
}

.difference {
    grid-column: 5;
    width: 100%;
    display: grid; 
    grid-template-rows: repeat(4, minmax(60px, 1fr));
    grid-template-columns: 1fr; 
}

.type__cash {
    grid-row: 1;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type__cashless {
    grid-row: 2;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type__refund {
    grid-row: 3;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type__total {
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-cash {
    grid-row: 1;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-cashless {
    grid-row: 2;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-refund {
    grid-row: 3;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-total {
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}